:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --distint-color: #00fff7d4;  
  --distint-color-off: #007571d4;
  --title-color: #a58418;
  --line-color: #959595d4;
  --font-color: white;  
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  color: var(--font-color);
  font-size: 1.1em;
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, rgb(0, 43, 63), rgb(30, 0, 14));
  font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3.2em;
}

.distint-color {
  color: var(--distint-color);
  transition: 150ms ease-out;
}

.distint-color:hover {
  text-decoration: underline .05em;
  scale: 1.03;
}

.title-color {
  color: var(--title-color);
}

.text-sutil {
  color: rgba(255, 255, 255, 0.662);
  font-weight: 300;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 0 20px 0 0;
}

a {
  text-decoration: none;
}

.new-block {
  display: block;
  text-align: left;
  margin-top: 5em;
}

.new-block>h2 {
  margin-bottom: 20px;
  margin-left: 50px;
}

.project-container,
.contacto-container,
.acerca-container,
.stackicons-container,
.experiencias-container {
  animation: revealUp 1s linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.new-block>h2 {
  animation: revealRight 1s linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.nav-target {
  height: 50px;
}

.button:hover{  
  background-color: var(--distint-color-off);
  box-shadow: 0 0 20px 0 var(--distint-color);
}

@keyframes revealUp {
  0% {
    translate: 100px 50px;
    opacity: 0;
    scale: .5;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
}

@keyframes revealRight {
  0% {
    translate: -700px 0px;
    opacity: 0;
    scale: .2;
  }

  50% {
    translate: 10px 0px;
    opacity: 0.3;
    scale: .5;
  }

  100% {
    translate: 0 0;
    opacity: 1;
    scale: 1;
  }
}

@media screen and (max-width: 506px) {
  .navbar-container>.ul-navbar li a{
    font-size: 0.65em;
    padding: 5px;
    margin: 0;
  }
}