#root {
  max-width: 1200px;
  margin: 0 auto;
}

html, body{
  scroll-behavior: smooth;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(0, 33, 43), rgb(20, 0, 14));  
}

p {
  text-indent: 30px;
}

h1, h3{
  color: #ff9d00d4;
}

.icon{
  width: 30px;
  height: 30px;  
  padding: 10px;
}

a {
  text-decoration: none;
}

:target:before { /* hace un corrimiento del scroll de la navbar para centrar los elementos */
  content: "";
  display: block;
  height: 10px;
  visibility: hidden;
}
