#root {      
  --max-width: 100vw;
  --distint-color: #ff9d00d4;  
  --title-color: #ffc400d4;  
  --line-color: #959595d4;
  --font-color: white;
  --button-color: rgb(3, 161, 200);  
}

*, *::before, *::after{
  box-sizing: border-box;
}

html, body{  
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  color: var(--font-color);
  font-size: 20px;  
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, rgb(0, 33, 43), rgb(20, 0, 14));  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.distint-color{
  color: var(--distint-color);  
}

.title-color{
  color: var(--title-color);  
}

.text-sutil{
  color: rgba(255, 255, 255, 0.662);
  font-weight: 300;
}

.icon{
  width: 50px;
  height: 50px;  
  padding:0 20px 0 0;
}

a li{
  text-decoration: none;
}

:target:before { /* hace un corrimiento del scroll de la navbar para centrar los elementos */
  content: "";
  display: block;
  height: 30px;
  visibility: hidden;
}

.new-block{
  margin-top: 160px;
  margin-left: 50px;
  display: block;
  text-align: left;
  opacity: 1; 
}
.new-block > h2{
  margin-bottom: 50px;
}

.new-block *{
  animation: reveal 1s linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}

@keyframes reveal{
  0%{
      translate: 100px 50px;
      opacity: 0;
      scale: .7;
  }    
  100%{
      translate: 0 0;
      opacity: 1;
      scale: 1;
  }
}
