#root {
  max-width: 1200px;
  margin: 0 auto;
  --distint-color: #ff9d00d4;  
  --title-color: #ffc400d4;  
  --line-color: #959595d4;
  --font-color: white;
}

html, body{
  color: var(--font-color);
  scroll-behavior: smooth;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(0, 33, 43), rgb(20, 0, 14));  
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.distint-color{
  color: var(--distint-color);  
}

.title-color{
  color: var(--title-color);  
}

.text-sutil{
  color: rgba(255, 255, 255, 0.662);
  font-weight: 300;
}

.icon{
  width: 30px;
  height: 30px;  
  padding:0 20px 0 0;
}

a {
  text-decoration: none;
}

.tags{  
  display: inline;
  color: grey;
  background-color: #2c2c2c72;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  padding: 2px 7px;  
  margin-right: 10px;  
  user-select: none;
  font-size: 10px;  
}

:target:before { /* hace un corrimiento del scroll de la navbar para centrar los elementos */
  content: "";
  display: block;
  height: 30px;
  visibility: hidden;
}

section{
  margin-top: 170px;    
  margin-bottom: 200px;
  text-align: left;
  opacity: 1;    
}

section *{
  animation: reveal 1s linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}

@keyframes reveal{
  0%{
      translate: 100px 50px;
      opacity: 0;
      scale: .7;
  }    
  100%{
      translate: 0 0;
      opacity: 1;
      scale: 1;
  }
}

@media screen and (max-width: 767px) {
  #root{
    font-size: 14px;
  }
  .ul-navbar li{    
    font-size: 14px;     
  }
}
