.contacto-container .text-container {
    border-left: 1px solid var(--line-color);
    margin: 70px;
    padding: 0px 40px;
    max-width: 800px;
}

.line{
    display: flex;
    align-items: center;      
}

.line h2{
    margin-right: 40px;
}