.experiencias-container{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    width: 100%;
}

.experiencia-container{     
    max-width: 70vh;
    margin-left: 50px;
    margin-right: 50px;
}

.experiencia-container li{
    line-height: 1.2;
}