.header-container {    
  width:1000px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  }

.text-container {
  margin-left: 80px;
}

.rounded-circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: pulsar 5s ease-in-out infinite;
}

@keyframes pulsar{
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 0 var(--distint-color);
  }
  100%{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  }
}