.header-container {      
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width:auto;
  justify-content: center;
  align-items: center;
  
  }

.text-container {
  margin-left: 80px;
  animation: reveal 1.5s ease-out;    
}

.rounded-circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  animation: pulsar 5s ease-in-out infinite, appear 1.5s ease-out;
}

@keyframes appear{
  from{
    transform: translateX(-1000px);
    opacity: 0;
  }
  to{
    transform: translateX(o);
    opacity: 1;
  }
}

@keyframes pulsar{
  0% {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 0 var(--distint-color);
  }
  100%{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  }
}