section{
    margin-top: 150px;    
    margin-bottom: 200px;
    text-align: left;
    opacity: 1;    
}

section *{
    animation: reveal 1s linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
}

@keyframes reveal{
    0%{
        translate: 0px 50px;
        opacity: 0;
        scale: .8;
    }    
    100%{
        translate: 0 0;
        opacity: 1;
        scale: 1;
    }
}

