.navbar-container {
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    height: 78px;
    z-index: 999;
    animation: navbar-scroll ease-out both;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
}

@keyframes navbar-scroll {
    to {
        height: 56px;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.ul-navbar {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.ul-navbar li a {
    color: rgba(31, 206, 230, 0.697);
    padding: 0px 30px;
    font-size: 1.1em;
    font-weight: 700;
    user-select: none;
}

.ul-navbar li:hover {
    cursor: pointer;
    scale: 1.05;
    filter: drop-shadow(0px 0px 10px var(--distint-color));
    transition: all 120ms ease-in;
}

.ul-navbar li a:hover {
    color: var(--distint-color);
}

.ul-navbar li a {
    text-decoration: none;
}