.navbar-container{    
    position: fixed;    
    display: flex;    
    right: 0;
    left: 0;    
    margin: auto;
    background-color: rgba(0, 0, 0, 0.412);    
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    height: 48px;
    z-index: 999;
}

.ul-navbar{
    display: flex;
    flex-wrap: wrap;
    list-style: none; 
}

.ul-navbar li{
    color: rgb(213, 213, 213);
    padding: 10px 40px 10px 40px;
    font-size: 20px;    
    transition: all 0.15s linear;           
}

.ul-navbar li:hover{
    color: #ff9d00;
    cursor: pointer;
    scale: 1.1;        
    filter: drop-shadow(0px 0px 10px #ff9d00);
}

.ul-navbar a li{
    text-decoration: none;
  }
