.project-container {       
    width: auto;        
    border-left: 1px solid rgb(121, 121, 121);
    margin: 70px;
    padding: 10px 40px;
}

.project-container img{    
    width: 80%;        
    transition: .2s;    
}

.project-container img:hover{
    transform: scale(1.05);    
    border: 1px solid var(--distint-color);
}