.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgba(6, 47, 65, 0.4), rgba(30, 0, 14, 0.2));
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 0;
    width: 400px;
    height: auto;
    transition: 200ms ease-out;
    background-color: rgba(199, 213, 214, 0.01);
    background-image: url("/black-linen.png");    

    &:hover {
        background-color: rgba(32, 104, 160, 0.6);
        box-shadow: 0 0 20px 0 var(--distint-color);        
        .button{
            color: var(--distint-color);
            box-shadow: 0 0 5px 0 var(--distint-color);
        }
    }
}

.project-container * {
    margin-bottom: 10px;
}

.project-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.image-container figure {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 16/9;
    margin: 10px 20px 10px 20px;
}

.image-container figure img {
    width: 100%;
    aspect-ratio: 16/9;
    transition: all 400ms ease-in-out;
}

.image-container figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0.8);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    padding: 10% 10%;
}

.image-container figure:hover>.capa {
    opacity: 1;
    visibility: visible;
    transform: translateY(-12px);
}

.image-container figure:hover>.capa {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-container figure:hover>img {
    transform: scale(1.4);
}

.image-container figure .capa {
    color: #fff;
    font-weight: 500;
    transition: all 400ms ease-out;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.links-container a {
    border: 2px solid var(--distint-color);    
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding: 5px 11px;
    color: var(--distint-color-off);
    font-size: 16px;
    transition: all 150ms ease-out;
}

.links-container a:hover {    
    border: 2px solid var(--distint-color);    
    color: var(--distint-color);
    color: white;
}

.tags-container {

    margin-top: 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.tags {
    display: inline-block;
    color: rgb(192, 192, 192);
    background-color: #2c2c2c72;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    padding: 2px 7px;
    margin: 0 5px 10px 5px;
    user-select: none;
    font-size: 12px;
}